body {
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', sans-serif;
}

.main-body-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: end;
  background-color: #000000;
  color: #fff;
  padding: 20px 0;
  font-size: 18px;
}

.navigation-container nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.navigation-container nav ul li {
  margin: 0 10px;
}

.navigation-container nav ul li a {
  color: #fff;
  text-decoration: none;
}

.autod-img-block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 14px;
  padding: 20px;
  margin: 0 auto;
}

.autod-img-block a {
  display: block;
  text-decoration: none;
  background-color: #ffffff;
  color: #000;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.autod-img-block a img {
  display: block;
  width: 100%;
  margin-bottom: 14px;
}

.autod-img-block a:hover {
  background-color: #3c434b;
  color: #fff;
}

.autod-img-block a span {
  display: block;
  text-align: center;
}

.container {
  flex-grow: 1;
  padding: 20px;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  margin-top: auto;
}

.footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.footer a:hover {
  text-decoration: underline;
}

.block1 {
  font-family: "Russo One", sans-serif;
  font-weight: 300;
  font-style: normal;
  width: 100%;
  background-color: inherit;
  background-color: #333;
  text-align: center;
  color: #ffffff;
}

.block2 {
  display: flex;
  background-color: #fff; 
  padding: 40px;
  justify-content: center;
  align-items: center;
}

.form-text {
  color: #000000;
  font-family: "Russo One", sans-serif;
  font-weight: 300;
  font-style: normal;
  background-color: inherit;
}
.container {
  background-color: #333;
  padding: 20px 0; 
}

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.container-info {
  padding: 20px;
  margin: 0 20px;
  font-size: 18px;
}

.rent-page-container {
  display: flex;
  align-items: flex-start;
}

.form-feedback {
  font-family: "Cuprum", sans-serif;
  width: 100%;
  max-width: 400px;
  background-color:#ffffff;
  border-radius: 2%;
}

.form-auth {
  font-family: "Cuprum", sans-serif;
  width: 100%;
  max-width: 400px;
  background-color:#ffffff;
}

.main-img-rent-page {
  margin-right: 20px;
  margin-left: 20px;
}

.main-img-rent-page img {
  height: 550px;
}

.container-info {
  flex: 1;
}

.commonTitle {
  font-family: 'Russo One';
  padding-left: 55px;
  padding-top: 55px;
}

.right-block-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.right-block-info img {
  width: 30%;
  max-height: 200px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.specifications {
  flex: 1;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.specifications table {
  width: 100%;
  border-collapse: collapse;
}

.specifications th, .specifications td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

#email-feedback {
  font-family: "Russo One";
}

#message-feedback {
  font-family: "Russo One";
}

.rent-registration-button {
  margin-top: 320px;
  left: 20px;
  background-color: #333;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 30px;
  padding: 15px 60px;
  border-radius: 4px;
}

.renter-contact-button {
  margin-top: 320px;
  left: 380px;
  background-color: #333;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 30px;
  padding: 15px 60px;
  border-radius: 4px;
}

.rent-registration-button:hover {
  background-color: #2e2e2e;
}

.renter-contact-button:hover {
  background-color: #2e2e2e;
}


.buttton-follow-product {
  margin-top: 320px;
  left: 750px;
  background-size: cover;
  width: 70px;
  height: 70px;
  background-color: transparent;
  border: none;
  outline: none;
}


.like-off {
  background-image: url(/images/like-off.png);
}

.like-on {
  background-image: url(/images/like-on.png);
}

.description-car{
  position: absolute;
  top: 835px;
  left: 30px;
}

.info-about-car {
  position: absolute;
  top: 890px;
  left: 30px;
  width: calc(100% - 40px);
  max-width: 800px;
  overflow: auto;
  font-size: 18px;
  line-height: 25px;
}